# Dependencies
node_modules/

# Environment / Secrets
.env
.env.*
!.env.example

# Uploads / Temp
uploads/
temp/
tmp/

# Logs
logs/
*.log

# Build / Coverage
dist/
build/
coverage/

# Cache
.cache/

# DB / Backup
dump/
backup/
*.sql
*.bson

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
